definitions:
  response.Error:
    properties:
      error:
        example: invalid request body
        type: string
    type: object
  response.ProcessImage:
    properties:
      content_type:
        type: string
      created_at:
        type: string
      image_id:
        type: string
      operation:
        type: string
      original_name:
        type: string
      size:
        type: integer
      status:
        type: string
    type: object
info:
  contact: {}
paths:
  /v1/image/{id}:
    delete:
      description: Deletes image from all storages(S3, postgres(main table + outbox(cascade)))
      parameters:
      - description: Image ID(uuid)
        in: path
        name: id
        required: true
        type: string
      responses:
        "204":
          description: Deleted
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/response.Error'
        "404":
          description: Image not found
          schema:
            $ref: '#/definitions/response.Error'
        "500":
          description: Internal
          schema:
            $ref: '#/definitions/response.Error'
      summary: Delete image
      tags:
      - images
    get:
      description: Downloads processed image from S3 by key
      parameters:
      - description: Image ID(uuid)
        in: path
        name: id
        required: true
        type: string
      produces:
      - image/jpeg
      - image/png
      - image/gif
      responses:
        "200":
          description: OK
          schema:
            type: file
        "400":
          description: Invalid ID
          schema:
            $ref: '#/definitions/response.Error'
        "404":
          description: Image not found
          schema:
            $ref: '#/definitions/response.Error'
        "500":
          description: Internal
          schema:
            $ref: '#/definitions/response.Error'
      summary: Get processed image
      tags:
      - images
  /v1/upload:
    post:
      consumes:
      - multipart/form-data
      description: Uploads image to S3, save metadata to postgres, save metadata to
        outbox(postgres)
      parameters:
      - description: Image file(jpg, png, gif)
        in: formData
        name: file
        required: true
        type: file
      - description: Operation
        enum:
        - resize
        - thumbnail
        - watermark
        in: formData
        name: operation
        required: true
        type: string
      - description: Width(required for resize operation)
        in: formData
        name: width
        type: integer
      - description: Height(required for resize operation)
        in: formData
        name: height
        type: integer
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/response.ProcessImage'
        "400":
          description: Empty file or wrong parameters
          schema:
            $ref: '#/definitions/response.Error'
        "413":
          description: File too large
          schema:
            $ref: '#/definitions/response.Error'
        "415":
          description: Unsupported format
          schema:
            $ref: '#/definitions/response.Error'
        "500":
          description: Internal
          schema:
            $ref: '#/definitions/response.Error'
      summary: Upload and process image
      tags:
      - images
swagger: "2.0"
